html, body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
}

.sidebar, .plots {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 15px;
}

.sidebar {
  width: 400px;
  overflow: hidden;
  padding: 15px;
}

.sidebar form {
  box-sizing: border-box;
  padding: 15px 0;
  border: 1px solid #9fd8d2;
  background-color: #f2faf9;
  border-radius: 6px;
  height: 100%;
}

.sidebar input[type="text"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.column {
  float: left;
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

.plots {
  left: 400px;
  right: 0;
  padding-left: 0;
}

.plots img {
  width: 100%;
}