{% extends "layout.html" %}

{% block body %}

<aside class="sidebar">
  <form action="stats" id="stats" method="post">

    <div class="column">
      <label>Conversion of group A<input type="text" name="conversion_a" placeholder="Conversion of group A"></label>
    </div>

    <div class="column">
      <label>Conversion of group B<input type="text" name="conversion_b"></label>
    </div>

     <div class="column">
      <label>Allocation of group A<input type="text" name="allocation_a"></label>
    </div>

     <div class="column">
      <label>Allocation of group B<input type="text" name="allocation_b"></label>
    </div>

    <div class="column">
      <button type="submit">Submit</button>
    </div>

  </form>
</aside>

<article class="plots">
  <img class="graph"/>

</article>


{% endblock %}

{% block javascript %}
  <script type="text/javascript">
  $(function() {
    $('#stats').on('submit', function(e) {
      e.preventDefault();
      var $form = $(e.currentTarget);
      $.ajax({
        type: $form.attr('method'),
        url: $form.attr('action'),
        data: $form.serializeArray()
      }).then(function(response) {
        $('.graph').replaceWith($('<img/>', {src: 'data:image/png;base64,'+response, 'class':'graph'}));
      }, function() {
        console.log('fail');
      });
    });
  });

  </script>
{% endblock %}

